<div class="ab">
  <div class="container"  [style.width]="newWidth + '%'" #container>
  <div class="bg" #bg></div>
</div>
<div class="main">
  <div class="text">Something</div>
</div>
<div class="container">
  <div [ngClass]="{'slide-top-1-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-2-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-2-3': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-2-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-2': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1-3': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1-4': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1-3': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-8': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-8': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-7': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-8': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-9': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-8': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-7': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-9': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-8': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-9': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-7': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-0-8': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1-3': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1-3': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1-3': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-1-5': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-2-3': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-2': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-2-3': isClicked }" class="column"></div>
  <div [ngClass]="{'slide-top-2-5': isClicked }" class="column"></div>
  <button *ngIf="!isClicked" (click)="disappear()">Click</button>
</div>
</div>
