.bg {
  width: 100%;
  height: 100%;
  background-color: #E94345;
}

.container {
  position: fixed;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  margin-top: 55vh;
  top: 0;
  left: 0;
  background: transparent;
  position: absolute;
  z-index: -1;
  display: flex;
}

.text {
  font-size: 50px;
  color: black;
}

.changeColor {
  background: white;
}

.me {
  height: 100vh;
  width: 100%;
  margin-top: 155vh;
  background: white;
  /*background: url("./../assets/bg.jpg");*/
}


.column {
  background: black;
  height: 100%;
  width: calc(100% / 48);
  transition: 1s;
}

.slide-top-0-11 {
  height: 500px;
  width: 80px;
  transition: 2s;
  transform: translateY(800px);
  /*background: url("../assets/2_03.jpg");*/
  /*position: absolute;*/
  /*top: 800px;*/
  /*left: 50%;*/
}


.button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
}

.slide-top-0-5 {
  height: 0;
  transition: .5s;
}

.slide-top-0-7 {
  height: 0;
  transition: .7s;
}

.slide-top-0-8 {
  height: 0;
  transition: .8s;
}

.slide-top-0-9 {
  height: 0;
  transition: .9s;
}

.slide-top-1 {
  height: 0;
  transition: 1s;
}

.slide-top-1-3 {
  height: 0;
  transition: 1.3s;
}

.slide-top-1-4 {
  height: 0;
  transition: 1.4s;
}


.slide-top-1-5 {
  height: 0;
  transition: 1.5s;
}

.slide-top-2 {
  height: 0;
  transition: 2s;
}

.slide-top-2-3 {
  height: 0;
  transition: 2.3s;
}

.slide-top-2-5 {
  height: 0;
  transition: 2.5s;
}


.scroll-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes make {
  from {
    border: 0;
    box-sizing: content-box;
  }
  to {
    border: 10px solid;
    box-sizing: border-box;
  }
}


.border {
  /*transition: 3s;*/
  animation-name: make;
  animation-duration: 3s;
  animation-delay: 1s;
}






